<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Automatic Meta Details</title>
        <title lang="de-DE">Automatische Meta Details</title>

        <input-field type="bool">
            <name>active</name>
            <label>Activ</label>
            <label lang="de-DE">Aktiv</label>
            <helpText>Enables/disables the functions of the plugin. If you do not want to use the phrases for categories, for example, leave the input field empty.</helpText>
            <helpText lang="de-DE">Aktiviert/deaktiviert die Funktionen des Plugins. Wenn Sie die Phrasen z.B. für Kategorien nicht nutzen möchten, dann lassen Sie das Eingabefeld leer.</helpText>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>debug</name>
            <label>Debug (DO NOT USE IN PRODUCTIVE MODE)</label>
            <label lang="de-DE">Aktiv (NICHT IM PRODUKTIV MODUS NUTZEN)</label>
            <helpText>If a meta specification cannot be generated, the meta title and description is set to "ERROR: [msg]".</helpText>
            <helpText lang="de-DE">Wenn eine Meta-Angabe nicht erzeugt werden kann, wird der Meta Titel und Beschreibung auf "ERROR: [msg]" gesetzt.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>productAllowIndividualMetaData</name>
            <label>Products: Use individual meta data, if available?</label>
            <label lang="de-DE">Produkte: Individuelle Meta Angaben nutzen, wenn gepflegt?</label>
            <helpText>If meta data (title or description) are filed for a product, these are used instead of the phrases.</helpText>
            <helpText lang="de-DE">Wenn bei einem Produkt Meta Angaben (Titel oder Beschreibung) hinterlegt sind, werden diese anstelle der Phrasen genutzt.</helpText>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="textarea">
            <name>productTitlePhrases</name>
            <label>Products: Meta Title Phrases</label>
            <label lang="de-DE">Produkte: Meta Titel Phrasen</label>
            <helpText>One phrase per line. Will be rendered as twig template. For translations, enter the iso code of the language at the beginning of the line, e.g. "de-DE:Your meta specification".</helpText>
            <helpText lang="de-DE">Eine Phrase pro Zeile. Inhalt wird als Twig-Template gerendert. Für Übersetzungen am Anfang der Zeile den Iso Code der Sprache angeben z.B. "de-DE:Ihre Meta Angabe".</helpText>
            <defaultValue><![CDATA[{{ name|slice(0, 50) }} kaufen bei {{ context.salesChannel.name }}! ✓ Schneller Versand ✓ Top Kundenservice
{{ name|slice(0, 50) }} online kaufen! ✓ Hotline ✓ Schneller Versand ✓ Top Kundenservice]]></defaultValue>
        </input-field>

        <input-field type="textarea">
            <name>productDescriptionPhrases</name>
            <label>Products: Meta Description Phrases</label>
            <label lang="de-DE">Produkte: Meta Beschreibung Phrasen</label>
            <helpText>One phrase per line. Will be rendered as twig template. For translations, enter the iso code of the language at the beginning of the line, e.g. "de-DE:Your meta specification".</helpText>
            <helpText lang="de-DE">Eine Phrase pro Zeile. Inhalt wird als Twig-Template gerendert. Für Übersetzungen am Anfang der Zeile den Iso Code der Sprache angeben z.B. "de-DE:Ihre Meta Angabe".</helpText>
            <defaultValue><![CDATA[{{ description }}]]></defaultValue>
        </input-field>

        <input-field type="bool">
            <name>categoryAllowIndividualMetaData</name>
            <label>Categories: Use individual meta data, if available?</label>
            <label lang="de-DE">Kategorien: Individuelle Meta Angaben nutzen, wenn gepflegt?</label>
            <helpText>If meta data (title or description) are filed for a category, these are used instead of the phrases.</helpText>
            <helpText lang="de-DE">Wenn bei einer Kategorie Meta Angaben (Titel oder Beschreibung) hinterlegt sind, werden diese anstelle der Phrasen genutzt.</helpText>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="textarea">
            <name>categoryTitlePhrases</name>
            <label>Categories: Meta Title Phrases</label>
            <label lang="de-DE">Kategorien: Meta Titel Phrasen</label>
            <helpText>One phrase per line. Will be rendered as twig template. For translations, enter the iso code of the language at the beginning of the line, e.g. "de-DE:Your meta specification".</helpText>
            <helpText lang="de-DE">Eine Phrase pro Zeile. Inhalt wird als Twig-Template gerendert. Für Übersetzungen am Anfang der Zeile den Iso Code der Sprache angeben z.B. "de-DE:Ihre Meta Angabe".</helpText>
            <defaultValue><![CDATA[{{ name|slice(0, 50) }} kaufen bei {{ context.salesChannel.name }}! ✓ Schneller Versand ✓ Top Kundenservice
{{ name|slice(0, 50) }} online kaufen! ✓ Hotline ✓ Schneller Versand ✓ Top Kundenservice]]></defaultValue>
        </input-field>

        <input-field type="textarea">
            <name>categoryDescriptionPhrases</name>
            <label>Categories: Meta Description Phrases</label>
            <label lang="de-DE">Kategorien: Meta Beschreibung Phrasen</label>
            <helpText>One phrase per line. Will be rendered as twig template. For translations, enter the iso code of the language at the beginning of the line, e.g. "de-DE:Your meta specification".</helpText>
            <helpText lang="de-DE">Eine Phrase pro Zeile. Inhalt wird als Twig-Template gerendert. Für Übersetzungen am Anfang der Zeile den Iso Code der Sprache angeben z.B. "de-DE:Ihre Meta Angabe".</helpText>
            <defaultValue><![CDATA[{{ description }}]]></defaultValue>
        </input-field>
    </card>
</config>
