<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Home Breadcrumb and Rich Snippets</title>
        <title lang="de-DE">Startseite in Breadcrumb und Rich Snippets</title>

        <input-field type="bool">
            <name>homeActive</name>
            <label>Show Home Name in Breadcrumb?</label>
            <label lang="de-DE">Sartseiten Name in Breadcrumb anzeigen?</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="text">
            <name>homename</name>
            <label>Home Name in Breadcrumb</label>
            <label lang="de-DE">Sartseiten Name in Breadcrumb</label>
            <defaultValue>Home</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>hideBreadcrumb</name>
            <label>Hide Breadcrumb? (Rich snippets stay)</label>
            <label lang="de-DE">Breadcrumb verstecken? (Rich Snippets bleiben)</label>
            <defaultValue>0</defaultValue>
        </input-field>
    </card>
</config>
