<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Home Breadcrumb and Rich Snippets</title>
        <title lang="de-DE">Startseite in Breadcrumb und Rich Snippets</title>

        <input-field type="textarea">
            <name>productTitlePhrases</name>
            <label>Product Meta Title Phrases</label>
            <label lang="de-DE">Produkt Meta Titel Phrasen</label>
            <helpText>One phrase per line. Will be rendered as twig template.</helpText>
            <helpText lang="de-DE">Eine Phrase pro Zeile. Inhalt wird als Twig-Template gerendert.</helpText>
            <defaultValue></defaultValue>
        </input-field>
    </card>
</config>
